<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">{{selectedTrack.short_name}}</h4>
    </div>
    <div class="modal-body">
        <p>Long Name : {{selectedTrack.long_name}}</p>
        <p>Location Type : {{selectedTrack.location_type}}</p>
        <p>Location Object Type : {{selectedTrack.location_object_type}}</p>
        <p>Location Species : {{selectedTrack.location_species}}</p>
        <p>Location DB type : {{selectedTrack.location_dbtype}}</p>
        <p>Location Logic Names : {{selectedTrack.location_logic_names}}</p>
        <hr>
        <p>{{selectedTrack.description}}</p>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>-->
    </div>
</div>